.vis_hidden {
    visibility: hidden;
}

.display_none {
    display: none;
}

.bg-custom {
    background-color: #167ea5;
}

.bg-custom2 {
    background-color: #f52323;
}

.bg-custom3 {
    background-color: #8d6b53;
}