.display_none {
    display: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #17a2b8;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 550;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

i {
  color: #17a2b8;
}

.firebaseui-idp-button {
  padding: 4px 8px;
  max-width: 180px;
}

.table_overflow {
  overflow-x: auto;
}

.login_area {
  max-width: 200px;
}

.del_icon {
  margin: 0 0 0 1rem;
}

@media (max-width: 991.98px) {
  .nav-link {
    display: block;
    padding: 0.25rem 0.50rem;
  }
}

@media (max-width: 767.98px) {
  .header2,
  .col_hide {
    display: none;
  }
  .testBtn {
    margin: 0.50rem 0 0 0;
  }
  h1, .h1 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }
  .del_icon {
    margin: 1rem 0 0 0;
  }
  .del_td {
    max-width: 55px;
  }
}

@media (max-width: 639.98px) {
  .table th,
  .table td {
    padding: 0.75rem 0.25rem;
  }
}